<html>

<head>

    <title>Warframe Info</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
    <link rel='stylesheet' href='css/main.css' />

</head>

<body>

    <div class="fs-1 m-2">News:</div>
    <hr>

    <div class="d-flex justify-content-center flex-wrap">

        <% warframe_api_data[0]['news'].forEach(function(article) { %>

            <div class="container m-2 dataItem bg-danger text-light rounded rounded-4">

                <div class="row">

                    <div class="col p-2 fs-5">

                        <a href="<%= article['link'] %>"" class=" text-decoration-none text-light">
                            <%= article['message'] %>
                        </a>

                    </div>

                </div>

            </div>

            <% }); %>

    </div>

    <div class="fs-1 m-2">Game World:</div>
    <hr>

    <div class=" container m-2 dataItem bg-dark text-light rounded rounded-4">

        <div class="row">

            <div class="col p-2 fs-3">

                Cetus:

            </div>

        </div>

        <div class="row">

            <div class="col p-2">

                Day: <%= warframe_api_data[0]['cetusCycle']['isDay'] %>

            </div>

            <div class="col p-2">

                <%= warframe_api_data[0]['cetusCycle']['shortString'] %>

            </div>

        </div>

    </div>

    <div class="fs-1 m-2">Alerts:</div>
    <hr>

    <div class="d-flex">

        <% warframe_api_data[0]['alerts'].forEach(function(alert) { %>

            <div class="container m-2 dataItem bg-dark text-light rounded rounded-4">

                <div class="row">

                    <div class="col p-2 fs-3">

                        <%= alert['mission']['description'] %>

                    </div>

                </div>

                <div class="row">

                    <div class="col p-2">

                        <%= alert['mission']['node'] %> (<%= alert['mission']['type'] %>) (<%= alert['eta'] %>)

                    </div>

                </div>

                <div class="row">

                    <div class="col p-2">

                        <%= alert['mission']['reward']['asString'] %>

                    </div>

                </div>

            </div>

            <% }); %>

    </div>

    <div class="fs-1 m-2">Fissures:</div>
    <hr>

    <div class="d-flex flex-wrap">

        <% warframe_api_data[0]['fissures'].forEach(function(fissure) { %>

            <div class="container m-2 dataItem bg-dark text-light rounded rounded-4">

                <div class="row">

                    <div class="col p-2 fs-3">

                        <%= fissure['node'] %> (<%= fissure['tier'] %>)

                    </div>

                </div>

                <div class="row">

                    <div class="col p-2">

                        <%= fissure['missionType'] %> (<%= fissure['eta'] %>)

                    </div>

                </div>

            </div>

            <% }); %>

    </div>

    <div class="fs-1 m-2">Sortie:</div>
    <hr>

    <div class="d-flex">

        <% warframe_api_data[0]['sortie']['variants'].forEach(function(mission) { %>

            <div class="container m-2 dataItem bg-dark text-light rounded rounded-4">

                <div class="row">

                    <div class="col p-2 fs-3">

                        <%= mission['node'] %>

                    </div>

                </div>

                <div class="row">

                    <div class="col p-2">

                        <%= mission['modifier'] %> (<%= mission['missionType'] %>) (<%=
                                    warframe_api_data[0]['sortie']['eta'] %>)

                    </div>

                </div>

            </div>

            <% }); %>

    </div>

    <script src='js/bootstrap.js'></script>

</body>

</html>